@import "../../global/styles/global.scss";
.golobal__button {
  button {
    background-color: var(--gray-red);
    border: none;
    outline: none;
    color: var(--white);
    text-transform: capitalize;
    font-size: 1rem;
    font-family: var(--public-font);
    font-weight: 600;
    cursor: pointer;
    padding: 15px 28px;
    letter-spacing: 1px;
    transition: all 0.4s;
    &:hover {
      background-color: var(--gray-second-yellow);
      color: var(--black);
    }
  }
}
